# FastAPI and web server
fastapi
uvicorn
python-multipart
pydantic
orjson

# Document processing
pdf2image
reportlab

# Utilities
python-dotenv
loguru

# OCR and ML libraries
opencv-python
paddlepaddle-gpu
git+https://github.com/sfernandez26/PaddleOCR.git
numpy
pillow

# Document processing
python-doctr[torch]

# Object detection
ultralytics

# NLP
nltk

# QR
pyzbar
qrcode
qreader
albumentations